body
{
	background-color: #8BB381;
}

#baner
{
	background-color: #336600;
	color: white;
	font-size: 120%;
	text-align: center;
	height: 10%;
}

#panel_lewy
{
	background-color: #AFC7C7;
	width: 40%;
	height: 70%;
	text-align: center;
	float: left;
}

#panel_prawy
{
	background-color: #CFECEC;
	width: 60%;
	height: 70%;
	font-size: 15px;
	float: left;
}

#stopka
{
	background-color: #669966;
	color: white;
	text-align: center;
	font-size: 120%;
	font-family: Tahoma;
	height: 10%;
	margin: 10px;
	clear: both;
}

table
{
	width: 300px;
	border: 2px green;
	text-align: center;
}

p
{
	text-align: center;
	font-family: Tahoma;
	color: #003300;
	font-size: 20px;
	font-weight: bold;
}

h2
{
	background-color: #006633;
	color: white;
}